################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pesonnummer/.vs/Pesonnummer/FileContentIndex/5359208d-9e5c-4b40-b8cb-c4d237bfe0a7.vsidx
/Pesonnummer/.vs/Pesonnummer/FileContentIndex/f9654dc3-d7fc-467a-8b99-8fd64d77ab33.vsidx
*.jfm
/KontaktLista/.vs/KontaktLista/FileContentIndex/f642c871-69e7-4098-9799-15b2d0a68c55.vsidx
/TicTacToeKonsol/.vs/TicTacToeKonsol/FileContentIndex/33e9cea1-a92d-4edc-a761-29453f8f506a.vsidx
/TicTacToeKonsol/.vs/TicTacToeKonsol/FileContentIndex/24d135ea-2a74-48b7-8d54-02ac2bbea8ae.vsidx
/TicTacToeKonsol/.vs/TicTacToeKonsol/FileContentIndex/4a6e1376-902a-4b8a-8784-2a79a18b47bc.vsidx
/TicTacToeKonsol/.vs/TicTacToeKonsol/FileContentIndex/bc117d40-ae8f-48b4-8dd2-13cbe29d768d.vsidx
/TicTacToeKonsol/.vs/TicTacToeKonsol/FileContentIndex/d0d93d76-68ca-48e1-b46a-691d732a197a.vsidx
/TicTacToeKonsol/.vs/TicTacToeKonsol/FileContentIndex/f2f0ecd9-0dd1-4c21-a3b7-93c196a0e696.vsidx
/TicTacToe/.vs/TicTacToe/FileContentIndex/08d5bb1a-bd8f-4243-8239-b4a076ff9f98.vsidx
/TicTacToe/.vs/TicTacToe/FileContentIndex/23c277d1-4520-4010-822b-4fe8c4beb1d5.vsidx
/TicTacToe/.vs/TicTacToe/FileContentIndex/7577a7b5-a95c-4db0-9949-ed836881a9a3.vsidx
